<h3><a class="btn btn-secondary" href="/"><i class="fas fa-plus"></i> Create New</a> Students List</h3>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        {{#each list}} 
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.id}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.address}}</td>
            <td>
                <a href="/{{this._id}}" title="Edit"><i class="fas fa-pencil-alt"></i></a> &nbsp;
                <a href="/delete/{{this._id}}" onclick="return confirm('Are you sure to delete..!')" title="Delete"><i class="fas fa-trash"></i></a>
            </td>     
        </tr>
        {{/each}}    
    </tbody>
</table>